<!DOCTYPE html>
<html>
    <%- include('head.ejs'); %> 
    <body>
        <div class="container">
            <h1>Oops</h1>
            <p>There seems to have been an error.</p>
            <p>Please make sure you entered a valid name.</p>
            <p><a href="/">Return to Homepage</a></p>
        </div>
    </body>
</html>