<!DOCTYPE html>
<html>
    <%- include('head.ejs'); %> 
    <body>
        <p>Oops, there seems to have been an error.</p>
        <p>Make sure you included a name.</p>
        <p><a href="/">Return</a></p>
    </body>
</html>