<!DOCTYPE html>
<html>
<%- include('head.ejs'); %> 
<body>
    <div class="container">
        <h1 class="title">Guestbook</h1>
        <form id="entry-form" method="POST" action="/submit">
            <input id="form-name" name="name" type="text" maxlength="50" placeholder="Name (required)" required>
            <textarea id="form-comment" form="entry-form" name="body" maxlength="280" placeholder="Your Message (max. 280 characters)"></textarea>
            <input id="submitbtn" type="submit" name="Submit">
        </form>
        <div class="entry-header">Latest Entries:</div>
        <% if (!error) {%> 
            <%- include('entries', entries) %> 
        <% } else { %>
            <div><%= 'Database Error' %></div>
        <% } %>  
    </div>
</body>
</html>