<!DOCTYPE html>
<html>
<%- include('head.ejs'); %> 
<body>
    <div class="container">
        <%- include('entries.ejs', entries); %>
        <%= currentpage %> 
        <%= maxpages %> 
    </div>
</body>
</html>