<!DOCTYPE html>
<html>
    <%- include('head.ejs'); %> 
    <body>
        <div class="container">
            <h1>Thanks!</h1>
            <p>Your entry has been submitted, <%= name %>! </p>
            <p><a href="/">Click here to return</a></p>
        </div>
    </body>
</html>